h1
{
color:white;
}


#form
{
height:15%;
width:40%;
background-color:white;
position:absolute;
top:20%;
left:30%;
padding:10px;
border-color:black;
border-style:solid;
border-radius:10px;
border-width:2px;
}