<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='MainPage.css') }}">
</head>
<body bgcolor="#708090">

<h1 align="center">Image Downloader</h1>

<div id="form">
<form action = "{{ url_for('getdata') }}" method="post">

    <label><b>Enter the URL of the webpage : </b></label>
    <input type="text" name="url" size="30">
    <br>
    <br>
    <input type="submit" value="Submit" style="position:relative; left:45%">

</form>
</div>

</body>
</html>